//
// Basic
// _______________________________

body {
	font-family: $font-family__josefin-sans;
}
html {
	height: 100%;
}

.container {
	width: 1200px;
	max-width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
}
a {
	text-decoration: none;
}

textarea:focus,
input:focus {
	outline: none;
}

//
// Color
// _______________________________
.color-pink {
	color: $color-pink;
}
.color-off-navy-blue {
	color: $color-off-navy-blue;
}
.color-navy-blue {
	color: $color-navy-blue;
}
.color-purple {
	color: $color-purple;
}
.color-off-purple {
	color: $color-off-purple;
}
.color-red {
	color: $color-red;
}
.color-blue {
	color: $color-blue;
}
.color-off-blue {
	color: $color-off-blue;
}
.color-sky-blue {
	color: $color-sky-blue;
}
.color-pantone-purple {
	$color-pantone-purple: #e0d3f5;
}

//
// Background Color
// _______________________________

.bg-pink {
	background-color: $color-pink;
}
.bg-off-navy-blue {
	background-color: $color-off-navy-blue;
}
.bg-navy-blue {
	background-color: $color-navy-blue;
}
.bg-purple {
	background-color: $color-purple;
}
.bg-off-purple {
	background-color: $color-off-purple;
}
.bg-red {
	background-color: $color-red;
}
.bg-blue {
	background-color: $color-blue;
}
.bg-off-blue {
	background-color: $color-off-blue;
}
.bg-sky-blue {
	background-image: $color-sky-blue;
}
.bg-pantone-purple {
	background-color: $color-pantone-purple;
}

//
// Dispplay Color and Font
// _______________________________

.styleguide {
	&-title {
		font-family: $font-family__poppins;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.25;
		color: #212525;
		margin: 49px 82px 47px 82px;
	}
	&-row {
		@include flexbox;
	}
	.color {
		width: calc(
			983px
		); // độ rông của phần color chuyển sang %, 4px của border 2 bên
		font-family: $font-family__poppins;
		margin-right: 26px;
		.content {
			@include flexbox; // dàn ngang cho phần color
			flex-wrap: wrap; // tự xuống dòng
			justify-content: flex-end; // căn sang phải
		}
		.item {
			padding: 22px; // độ cách lề của item
			box-sizing: border-box;
			box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
			border-radius: 15px;
			border: 2px solid #eaebed;
			& + .item {
				margin-top: 20px - 4px; // styleguide-color-item nào có 2 cái thì cách nhau, 4px của border trên dưới
			}
		}
		.display {
			height: 50px;
			border-radius: 32px;
			margin-bottom: 17px;
		}
		.code {
			font-size: 14px;
			line-height: 1.43;
			color: rgba(33, 37, 37, 0.4);
			margin-bottom: 4px;
		}
		.name {
			font-weight: 500;
			font-size: 22px;
			line-height: 1.09;
		}
		.col {
			width: 250px;
			margin-right: 30px;
			margin-bottom: 51px;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:first-child,
			&:last-child {
				width: 267px;
				.item {
					padding: 30px 31px 13px 30px;
					box-sizing: border-box;
					.display {
						border-radius: 25px;
						height: 206px;
						margin-bottom: 34px;
					}
				}
			}
			&:last-child {
				.item {
					padding: 30px 30px 13px 31px;
				}
			}
		}
	}
	.font {
		width: 391px;
		.title {
			text-align: right;
		}
		.content {
			width: 341px;
		}
		.top,
		.bottom {
			padding: 0 0 16px 23px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			background: #ffffff;
			border-radius: 25px;
		}
		.top {
			height: 150px;
			box-shadow: -9px 18px 40px rgba(0, 0, 0, 0.1);
		}
		.bottom {
			min-height: 515px;
			border: 2px solid #eaebed;
			margin-top: 26px;
		}
		.display {
			font-family: $font-family__josefin-sans;
			font-size: 36px;
			width: 84px;
			height: 87px;
			@include flexbox;
			align-items: center;
		}
		.name {
			font-weight: 500;
			font-size: 14px;
			color: rgba(33, 37, 37, 0.4);
			line-height: 1.43;
			margin-top: 1px;
		}
		.type {
			font-weight: 500;
			font-size: 22px;
			line-height: 1.89;
			margin-top: 2px;
		}
	}
}

.styleguide-component-title {
	margin-bottom: 10px;
	margin-top: 20px;
	display: block;
}
//
// Page sort by
// _______________________________

.page-sortby {
	font-family: $font-family__lato;
	font-weight: 400;
	.left {
		&-title {
			font-family: $font-family__josefin-sans;
			font-size: 16px;
			line-height: 1;
			color: $color-navy-blue;
			font-weight: 700;
			margin-bottom: 10px;
		}
		.result-count {
			font-size: 12px;
			line-height: 1.1666;
			color: $color-sub-text;
		}
	}
	.right {
		@include flexbox;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		&-title {
			font-size: 16px;
			line-height: 1.1875;
			color: $color-off-navy-blue;
			margin-right: 8px;
			@include translate(0, 2px);
		}
		& > div {
			width: 100%;
			@include flexbox;
			justify-content: space-between;
			align-items: center;

			&:first-child {
				margin-bottom: 20px;
			}
		}
	}
	.perpage {
		display: flex;
		align-items: center;

		input {
			@include translate(0, 1px); // 1px của border
			width: 55px;
			height: 28px;
			border: 1px solid #e7e6ef;
			padding: 0;
			line-height: normal;
			box-sizing: border-box;
		}
	}

	.sortby {
		@include flexbox;
		align-items: center;
		justify-content: flex-end;
		&-right {
			@include flexbox;
			align-items: flex-end;
			position: relative;
			&:hover {
				ul {
					max-height: 500px;
					height: fit-content;
				}
			}
		}
		&-select {
			max-height: 26px;
			position: relative;
			border: 1px solid #e7e6ef;
			z-index: 99;
			@include translate(0, 1px); // 1px của border
			ul {
				max-height: 26px;
				overflow: hidden;
				transition: max-height 0.5s ease;
			}
			li {
				height: 26px;
			}
			a {
				line-height: 18px;
				width: 100%;
				padding: 4px 14px;
				padding-right: 20px;
				display: block;
				background-color: #ffffff;
				white-space: nowrap;
				text-decoration: none;
				font-size: 12px;
				color: $color-sub-text;
				box-sizing: border-box;
			}
		}

		iconify-icon {
			font-size: 14px;
			color: $color-sub-text;
			position: absolute;
			top: 55%;
			right: 6px;
			@include translate(0, -50%);
			z-index: 100; // lớn hơn zindex của sort-by select 1
		}
	}
	.view {
		@include flexbox;
		align-items: center;
		min-height: 25px;

		&-title {
			margin-right: 8px;
		}
		&-choise {
			@include flexbox;
			@include translate(-4px, 3px);
			& a:first-child {
				margin-right: 5px;
			}
			a {
				color: $color-navy-blue;
			}
		}
	}

	.search {
		input {
			border: 1px solid #e7e6ef;
			width: 243px;
			height: 26px;
			padding: 0;
			@include translate(0, 1px); // 1px của border
			box-sizing: border-box;
		}
	}
}

//
// Page header
// _______________________________

.page-header {
	min-height: 142px;
	background-color: $color-bg-shade;
	&-content {
		padding-top: 40px;
	}
}
.page-title {
	font-family: $font-family__josefin-sans;
	font-size: 22px;
	line-height: 1;
	color: $color-off-blue;
	font-weight: 700;
	margin-bottom: 9px;
}
.breadcrumb {
	ul {
		@include flexbox;
	}
	li {
		margin-right: 5px;
		&:last-child a,
		&:last-child::before {
			color: $color-pink;
		}
		&:not(:first-child):before {
			content: '.';
			margin-right: 5px;
		}
	}
}

//
// Button
// _______________________________

.button {
	display: inline-block;
	border: none;
	background-color: #fb2e86;
	border-radius: 2px;
	color: #fff;
	font-weight: 600;
	font-family: $font-family__josefin-sans;
	font-size: 17px;
	line-height: 1.17647;
	letter-spacing: 0.02em;
	&-primary {
		padding: 14px 34px 11px 24px;
	}
	&-shop-now {
		padding: 17px 69px 17px 48px;
	}
}
